@charset "utf-8";
/* 公共的版心样式 */
.logo-wrap,.banner-wrap,.case-wrap,.news-wrap,.box-warp,.footer_wrap{
    width:1100px;
    margin:0 auto;
}
/* logo */
#logo{
    background:#232323;
}
.logo-wrap{
    height:62px;
}
.logo_l{
    width:157px;
    height:51px;
    padding:11px 0 0 51px;
}
.nav{
    width:719px;
    height:62px;
}
.nav li{
    float:left;
    font-size:12px;
    background:url(../images/libg_03.jpg) no-repeat right center;
    height:62px;
    line-height:62px;
    padding:0 9px;
}
.nav li a{
    color:#fff;
}

/* banner */
#banner{
    background:#ccc url(../images/banner_02.jpg) no-repeat center;
    border-bottom:1px solid #a9a9a9;
}
.banner-wrap{
    height:420px;
}
/* case */
#case{
    background:#f5f5f5;
}
.case-wrap{
    height: 350px;
}
.case_show{
    width:301px;
    height:295px;
    background:url(../images/case_03.jpg) no-repeat right 35px;
    text-align: center;
    padding-top:55px;
}
.case_show h3{
    font-size:22px;
    color:#262e3b;
    line-height:22px; /*去掉文本上下的误差*/
    margin:13px 0 19px;
}
.case_show h4{
    font-size:12px;
    color:#546b79;
    line-height:12px;
}
.case_show p{
    font-size:12px;
    color:#a2bccd;
    line-height:18px;
    margin-top:16px;
}
.case_show2{
    width:255px;
}
.case_show3{
    width:252px;
}
.case_show4{
    width:292px;
}

/* news */
.news-wrap{
    height:269px;

    padding-top:40px;
}
.news_l{
    width:297px;
    height:224px;
    border:1px solid #dcdedd;
    padding:1px;
    margin-left:39px;
}
.news_l img{
    width:100%;
    height:100%;
}

.news_c{
    width:320px;
    height:250px;

    margin:0 18px 0 15px;
}
.news_c h3{
    padding-top:5px;
    font-size:18px;
    color:#232325;
    line-height:18px;
}
.news_c h4{
    font-size:14px;
    line-height: 14px;
    margin:17px 0 12px;
}
.news_c h4 a{
    color:#444442;
}
.news_c p{
    font-size:12px;
    line-height:18px;
    text-indent:2em;
    border-bottom:1px dashed #cbcbcb;
    padding-bottom:10px;
}
.news_c p a{
    color:#989898;
}

.news_r{
    width:310px;
    height:220px;
 
    border-left:1px solid #dddee0;
}
.news_list {
    padding-top: 11px;
}
.news_list li{
    background: url(../images/li_03.jpg) no-repeat left center;
    padding-left:12px;
}
.news_list li a{
    font-style: 12px;
    line-height: 26px;
    color: #434341;
}
.news_r{
    padding-left: 23px;
}
.news_r h3{
    padding-top:5px;
    font-size:18px;
    color:#232325;
    line-height:18px;
}
.news_r h5{
    margin-top: 20px;
}
.news_r h4{
    color: #676566;
    font-style: 20px;
    margin-top: 20px;
}
.news_r li a{
    font-style: 12px;
    line-height: 24px;
    color: #65666a;
}
.news_r_list{
    padding-top: 16px;
}
/*  */
#box {
    height: 214px;
    background-color: #222;
}
.box_l{
    width: 526px;

}
.box_l div {
    float: left;
    margin: 51px 20px 0;
}
.box_l h2{
    font-style: 12px;
    color: #fff;
    margin-bottom: 20px;
}
.box_l a {
    font-style: 12px;
    color: #999999;
    line-height: 24px;
}

.box_c  a{
    display: block;
    width: 328px;
    height: 175px;
    background: url(../images/map_03.jpg) no-repeat left center;
    margin-top: 29px;
}
.box_r  a{
    display: block;
    width: 328px;
    height: 175px;
    background: url(../images/erweima_03.jpg) no-repeat left center;
    margin-top: 29px;
    margin-left: 28px;
}
#footer{
    height: 46px;
    background-color: #101010;
    text-align: center;
}
.footer_wrap{
    height:46px;
    font-size:12px;
    color:#a9a9a9;
    line-height:46px;
}
